.hero_wrapper {
    height: 100%;
    /* overflow: hidden; */

    & .container {
        max-width: 1170px;
        margin: 0 auto;

        & .hero_con {
            padding: 0 2rem;
            gap: 4rem;
            display: flex;
            justify-content: space-between;
            margin: 6rem 0;
            height: 100%;

            & .text_1 {
                font-size: 32px;
            }

            & .text_2 {
                font-weight: bold;
                color: #D24545;
                font-size: 4rem;
                display: flex;
                flex-flow: wrap;
            }

            & .text_3 {
                font-size: 32px;
            }

            & .text_4 {
                font-family: "Noto Sans Thai";
                font-size: 16px;
                margin-top: 25px;

                & b {
                    font-family: "Noto Sans Thai";
                }
            }

            & .hero_social {
                display: flex;
                list-style: none;
                margin-top: 25px;

                & li {
                    margin-right: 10px;

                    & svg {
                        width: 32px;
                        height: 32px;
                        color: #333;
                        transition: all .3s ease;
                    }

                    & svg:hover {
                        color: #222;
                        transform: scale(1.2);
                    }
                }
            }

            & .hero_img {
                width: 300px;
                height: 300px;
                border-radius: 100%;
                background-image: url(/profile.jpg);
                background-size: 100%;
                background-position: center;
                /* background-image: url(https://i.pinimg.com/564x/d4/33/5d/d4335ded1a0db0e03345a0cdaa097355.jpg); */
                /* background-size: cover; */
                transition: all .3s ease;
            }

            & .hero_img:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .hero_img {
        width: 200px !important;
        height: 200px !important;
    }
}


@media screen and (max-width: 400px) {
    & .text_2 p {
        /* font-size: 10px; */
        overflow-wrap: break-word;
        overflow: hidden;
    }
}

@media screen and (max-width: 560px) {
    .hero_wrapper {
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;
            padding: 20px;

            & .hero_info,
            & .hero_img {
                width: 100%;
            }

            & .hero_img {
                justify-self: center;
                transform: scale(0.89);

                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}

/* Tablet */

@media screen and (max-width: 760px) and (min-width: 560px) {
    .hero_wrapper {
        height: auto;

        & .hero_con {
            flex-direction: column;
            margin: 50px 0;

            & .hero_info {
                width: 100%;
            }

            & .hero_img {
                width: 400px;
                height: 400px;
                margin: 0 auto;
            }
        }
    }
}