.skills_con {
    height: 18rem;
    background-color: #D24545;
    text-align: center;
    color: #fff;
    /* overflow: hidden; */

    & .skills_title {
        /* margin-top: 40px; */
        padding: 1rem 0;
    }

    & .skills_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-decoration: none;

        & li {
            margin: 0 40px;
            list-style-type: none;

            & svg {
                width: 80px;
                height: 80px;
                transition: all .3s ease;
            }

            & svg:hover {
                color: #999999;
                transform: scale(1.2);
            }
        }
    }
    
}

@media screen and (max-width: 560px)  {
    .skills_con {
        height: auto;

        & .skills_list {
            flex-direction: column;
            margin: 50px 0;

            & li {
                margin: 20px 0;
            }
        }
    }
}