nav {
    padding: 0 2rem;
    background: #A94438;
    overflow: hidden;
    position: relative;

    & a {
        color: #fff;
    }

    .bars {
        position: absolute;
        right: 20px;
        top: 45px;
        color: #fff;
    }

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .nav_con {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            & a {
                text-decoration: none;
                font-weight: bold;
            }
        }

        & ul {
            display: flex;
            list-style-type: none;

            & li {
                margin: 0 35px;
                transition: .3s ease;

                & a {
                    text-decoration: none;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        & .btn {
            width: 100px;
            height: 35px;
            background-color: #E6BAA3;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: .3s;
            cursor: pointer;

            & a {
                text-decoration: none;
                color: #113;
            }

            &:hover {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
            }
        }
    }
    
}


@media screen and (max-width: 600px) {
    .nav_con {
        flex-direction: column;
        height: auto !important;
        margin: 2rem 0;
        align-items: start !important;
        margin-left: 30px;
        
        & ul, .btn {
            display: none !important;
        }
    }
    
    .mobile_menu {
        list-style-type: none;
        
        & li {
            margin: 35px;
            transition: all .3s ease;
            
            & a {
                text-decoration: none;
            }

            &:hover {
                list-style-type: square;
                transform: scale(1.01);
                
                &::marker {
                    color: #fff;
                }
            }
        }
    }

    & .mobile_button {
        width: 100px;
        height: 35px;
        margin-left: 35px;
        margin-bottom: 20px;
        background-color: #E6BAA3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: .3s;
        cursor: pointer;

        & a {
            text-decoration: none;
            color: #113;
        }

        &:hover {
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
        }
    }

}

@media screen and (min-width: 600px) {
    .mobile_menu, .bars, .mobile_button {
        display: none;
    }
}